<ion-view>
  <h1>Hoi</h1>
  <form ng-controller="WelkomFormCtrl as ctrl" name="ctrl.form" ng-submit="ctrl.submit()">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <div class="item">
        <button class="button button-positive button-block">submit</button>
      </div>
    </div>
  </form>
</ion-view>
